/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/temp/templates/
.idea
/SiteBlank/var/bootstrap.php.cache
/nbproject/private/
/app/bootstrap.php.cache
/web/uploads/archive/
/web/uploads/preview/
/web/uploads/img/
/app/migrations/
app/Resources/views/hotred/
var/cache/
var/logs/
var/sessions/
web/temp/archives/
web/uploads/
node_modules/
out/
